{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sentimen Analysis</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="FreeHTML5.co" />
    
    <link rel="stylesheet" href="{% static "vendor/jquery-loading/demo.css" %}">
	<link rel="stylesheet" href="{% static "vendor/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "vendor/css/owl.carousel.css" %}">
	<link rel="stylesheet" href="{% static "vendor/css/owl.theme.default.min.css" %}">
	<link rel="stylesheet" href="{% static "vendor/css/animate.css" %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "vendor/css/style.css" %}">
</head>
    <!-- ========================================BERANDA============================================ -->
    
<body>
<div id="page-wrap">
	<div id="fh5co-hero-wrapper">
		<nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
			<a class="navbar-brand" href="">Website</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- <ul class="navbar-nav nav-items-center ml-auto mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Beranda<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" onclick="$('#fh5co-advantages').goTo();return false;">Bandingkan Aplikasi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" onclick="$('#fh5co-slider').goTo();return false;">Daftar Aplikasi</a>
					</li>
				</ul> -->
			</div>
		</nav>

		<div class="container fh5co-hero-inner">
			<h1 class="animated fadeIn wow" data-wow-delay="0.4s">Analisis Sentimen Aplikasi Online Hotel Booking</h1>
            <p class="animated fadeIn wow" data-wow-delay="0.67s">Memberikan dukungan informasi kepada pengguna dalam memilih aplikasi online hotel booking.</p>
			<button class="btn btn-md download-btn-first wow fadeInLeft animated" data-wow-delay="0.85s" onclick="$('#fh5co-advantages').goTo();return false;">Bandingkan</button>
			<button class="btn btn-md features-btn-first animated fadeInLeft wow" data-wow-delay="0.95s" onclick="$('#fh5co-slider').goTo();return false;">Daftar Aplikasi</button>
			<img class="fh5co-hero-smartphone animated fadeInRight wow" data-wow-delay="1s" src="{% static "images/phone-image1.png" %}"  alt="Smartphone">
		</div>
	</div>

	<!-- ========================================PILIH JUMLAH DATA============================================ -->

         <div id="fh5co-advantages">
            <div class="fh5co-advantages-outer">              
                    <h1 class="second-title"><span class="span-perfect">Bandingkan</span> <span class="span-features">Aplikasi</span></h1><br>
                    <div class="row justify-content-center mb-4">
                        <div class="col-md-2">
                            <select class="custom-select" id="jumlah_data" name="jumlah_data">
                                <option value="0" selected>Pilih jumlah data</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="600">600</option>
                                <option value="700">700</option>
                                <option value="800">800</option>
                                <option value="900">900</option>
                                 <option value="1000">1000</option>                      
                            </select> 
                        </div>
                    </div><br>
                    <div class="row justify-content-center" align="center">   

    <!-- ========================================PILIH MENU 1============================================ -->
         
            <div class="col-md-3" id="loading-data1">
                <select class="custom-select" id="data1" name="data1">
                    <option disabled selected>Pilih menu</option>
                    <option value="Airy">Airy</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Trivago">Trivago</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Bookingcom">Booking.com</option>
                    <option value="Tiketcom">Tiket.com</option>
                    <option value="Pegipegi">Pegipegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="MisterAladin">Mister Aladin</option>
                </select>              
               
                <img src="{% static "images/nol.png" %}" class="mt-3 mb-3" width="70%" height="40%" alt="My image" id="logo1">
                <div id="chart1" style="display: none;">                   
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">Sentimen</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile" aria-selected="false">Akurasi</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">Rate</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                        <canvas id="myChart1" width="140" height="101"></canvas>
                    </div>  
                    <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
                        <br><h1 id="akurasi1"></h1> 
                        <center><img src="{% static "images/akurasi.png" %}" alt="" width="15%"></center>
                    </div>
                    <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
                        <br><h1 id="rating1"></h1>
                        <center><img src="{% static "images/rating.png" %}" alt="" width="80%"></center>
                    </div>      
                  </div>
            </div>
            <div class="col-md-2 text-center">
                <h4>vs</h4>             
            </div>

    <!-- ========================================PILIH MENU 2============================================ -->

            <div class="col-md-3" id="loading-data2">
                <select class="custom-select" id="data2" name="data2">
                    <option disabled selected>Pilih menu</option>
                    <option value="Airy">Airy</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Trivago">Trivago</option>
                    <option value="Traveloka">Traveloka</option>
                    <option value="Bookingcom">Booking.com</option>
                    <option value="Tiketcom">Tiket.com</option>
                    <option value="Pegipegi">Pegipegi</option>
                    <option value="RedDoorz">RedDoorz</option>
                    <option value="Agoda">Agoda</option>
                    <option value="MisterAladin">Mister Aladin</option>
                    
                </select>
 
                <img src="{% static "images/nol.png" %}" class="mt-3 mb-3" width="70%" height="40%" alt="My image" id="logo2">
                <div id="chart2" style="display: none;">
                </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">Sentimen</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">Akurasi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact" aria-selected="false">Rate</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab">
                    <canvas id="myChart2" width="140" height="101"></canvas>
                </div>  
                <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
                    <br><h1 id="akurasi2"></h1> 
                    <center><img src="{% static "images/akurasi.png" %}" alt="" width="15%"></center>
                </div>
                <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
                    <br><h1 id="rating2"></h1>
                    <center><img src="{% static "images/rating.png" %}" alt="" width="80%"></center>
                </div>      
              </div>
            </div>
        </div>
    </div>
</div>
        
    <!-- ========================================DAFTAR APLIKASI============================================ -->

         <div id="fh5co-slider">
            <div class="fh5co-slider-outer wow fadeIn" data-wow-delay="0.36s">
                <h1>DAFTAR APLIKASI</h1>
                <div class="container fh5co-slider-inner">
                    <div class="owl-carousel owl-theme">
                        <div class="item"><img src="{% static "images/Airy.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Traveloka.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Oy.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Bookingcom.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Trivago.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/MisterAladin.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/RedDoorz.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Pegipegi.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Tiketcom.png" %}" alt=""></div>
                        <div class="item"><img src="{% static "images/Agoda.png" %}" alt=""></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- ========================================FOOTER============================================ -->

    <footer class="footer-outer">
        <div class="container footer-inner">
            <div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
                <div class="column-1-3">
                    <h1>Website</h1>
                </div>
                <div class="column-2-3">
                    <nav class="footer-nav">
                        <ul>
                            <a href="#" onclick="$('#fh5co-hero-wrapper').goTo();return false;"><li>Beranda</li></a>
                            <a href="#" onclick="$('#fh5co-advantages').goTo();return false;"><li>Bandingkan Aplikasi</li></a>
                            <a href="#" onclick="$('#fh5co-slider').goTo();return false;"><li>Daftar Aplikasi</li></a>
                            </ul>
                    </nav>
                </div>
                <div class="column-3-3">
                </div>
            </div>
            <span class="border-bottom-footer"></span>
            <p class="copyright">&copy; 2020 Website. All rights reserved.</p>
        </div>
    </footer>
</div>

<!-- ========================================JAVA SCRIPT============================================ -->

<script src="{% static "vendor/js/jquery-3.2.1.slim.min.js" %}"></script>
<script src="{% static "vendor/js/bootstrap.min.js" %}" ></script>
<script src="{% static "vendor/js/chart.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.2/randomColor.min.js"></script>
<script src="{% static "vendor/js/jquery.min.js" %}"></script>
<script src="{% static "vendor/jquery-loading/dist/jquery.loading.js" %}"></script>
<script src="{% static "vendor/js/owl.carousel.js" %}"></script>
<script src="{% static "vendor/js/wow.min.js" %}"></script>
<script src="{% static "vendor/js/main.js" %}"></script>

<script> 
    var positif1 = []
    var negatif1 = []
    var positif2 = []
    var negatif2 = [] 
    var jumlahDataScrapping = 0;
    var ctx1 = document.getElementById('myChart1').getContext('2d');
    var ctx2 = document.getElementById('myChart2').getContext('2d');
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    //========================================DATA 1============================================//

    $("#data1").change(function() {
        let value = $(this).val()
        let dir = "{% static 'images/' %}" + `${value}.png`
        jumlahDataScrapping = $("#jumlah_data").val()

        if(jumlahDataScrapping != "0"){
        $('#loading-data1').loading();
        $("#data2").attr("disabled", "true")
        $("#jumlah_data").attr("disabled", "true")
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: "{% url 'store' %}",           
            data: {
                value: value,
                jumlahDataScrapping: jumlahDataScrapping 
            },
            success: function(data) {        
                
                console.log(data)
                 
                $("#data2").removeAttr("disabled")
                $("#jumlah_data").removeAttr("disabled")
                let length1 = Object.keys(data.label).length
                var x  = length1 * 0.2
                // alert(length1)
                // let length2 = Object.keys(data.prediksi).length
                // alert(length2)
                for(i=0;i<length1;i++){
                    if(i == x){
                        break;
                    }else{
                        if(data.label[i] == 1){
                            positif1.push(data.label[i])               
                        }else{
                            negatif1.push(data.label[i]) 
                        }  
                    }
                }
               
                $("#data2 option[value="+value+"]").attr("disabled","disabled") 
                $("#data2 option[value="+value+"]").css("color","#A9A9A9") 
                $("#loading-data1").loading('stop')
                $("#logo1").attr("src", dir)
                donnutChart1(positif1.length, negatif1.length, length);               
                $("#chart1").css("display", "")       
                akurasi = data.akurasi[0].toFixed(2)        
                $("#akurasi1").html( akurasi* 100 + "%")
                $("#rating1").html(data.rating[0])
                
            },
            error: function(data) {
                $("#loading-data1").loading('stop')
                alert("Proses terhenti");
                $("#data2").removeAttr("disabled")
                console.log(data)
            
            }
        })
    } else {
            alert("Pastikan Anda telah memilih jumlah data!")
        }       
    
    })

    //========================================DATA 2============================================//
    $("#data2").change(function() {
        let value = $(this).val()
        jumlahDataScrapping = $("#jumlah_data").val()
        let dir = "{% static 'images/' %}" + `${value}.png`

        if(jumlahDataScrapping !=0){
        $("#jumlah_data").attr("disabled", "true")
        $('#loading-data2').loading();
        $("#data1").attr("disabled", "true")
        $.ajax({
            type: "POST",
            url: "{% url 'store' %}",           
            data: {
                value: value,
                jumlahDataScrapping: jumlahDataScrapping                 
            },
            success: function(data) {                

                console.log(data)

                $("#loading-data2").loading('stop')
                $("#logo2").attr("src", dir)
                $("#data1").removeAttr("disabled")
                $("#jumlah_data").removeAttr("disabled")
                let length2 = Object.keys(data.label).length
                var x = length2*0.2
                for(i=0;i<length2;i++){
                    if(i == x){
                        break;
                    }else{
                        if(data.label[i] == 1){
                            positif2.push(data.label[i])               
                        }else{
                            negatif2.push(data.label[i])         
                        }
                    }
                }
                $("#loading-data2").loading('stop')
                $("#logo2").attr("src", dir)
                $("#chart2").css("display", "")  
                donnutChart2(positif2.length, negatif2.length, length);  
                akurasi = data.akurasi[0].toFixed(2)        
                $("#akurasi2").html( akurasi* 100 + "%")                      
                $("#rating2").html(data.rating[0])

                },
            error: function(data) {
                    $("#loading-data2").loading('stop')
                    alert("gagal scrapping");
                    $("#data1").removeAttr("disabled")
                    console.log(data)
                }
            })
        } else {
            alert("Pastikan Anda telah memilih jumlah data!")
        }
    })

    //========================================DOUGHNOUT 1============================================//
    function donnutChart1(positif, negatif, totalData)
    {
        data = {
        datasets: [{
            data: [positif, negatif],
            backgroundColor: [
                    'rgb(61, 145, 204)', //positif biru          
                    'rgb(230, 18, 7)', //merah negatif                 
                ],
            borderColor: [
                'rgb(61, 145, 204)',
                'rgb(230, 18, 7)'
            ]
        }],
        labels: [
            'Positif',
            'Negatif',
            ]
        };

        Chart.pluginService.register({
            beforeDraw: function (chart) {
                if (chart.config.options.elements.center) {
            var ctx = chart.chart.ctx;
            var centerConfig = chart.config.options.elements.center;
            var fontStyle = centerConfig.fontStyle || 'Arial'; 
                    var txt = centerConfig.text;
            var color = centerConfig.color || '#000';
            var sidePadding = centerConfig.sidePadding || 20;
            var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
            ctx.font = "30px " + fontStyle;
            var stringWidth = ctx.measureText(txt).width;
            var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;
            var widthRatio = elementWidth / stringWidth;
            var newFontSize = Math.floor(30 * widthRatio);
            var elementHeight = (chart.innerRadius * 2);
            var fontSizeToUse = Math.min(newFontSize, elementHeight);
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
            var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
            ctx.font = fontSizeToUse+"px " + fontStyle;
            ctx.fillStyle = color;
            ctx.fillText(txt, centerX, centerY);
                }
            }
        });

        var persentase1 = (positif / (positif+negatif)) * 100
        var myDoughnutChart = new Chart(ctx1, {
            type: 'doughnut',
            data: data,
            options: {
                elements: {
                    center: {
                    text: persentase1.toFixed(1) + '%', 
                    color: '#36A2EB',
                    fontStyle: 'Helvetica', 
                    sidePadding: 15 
                    }
                }
            }
        });
    }

    //========================================DOUGHNOUT 2============================================//
    function donnutChart2(positif, negatif, totalData)
    {
        data = {
        datasets: [{
            data: [positif, negatif],
            backgroundColor: [
                    'rgb(61, 145, 204)', //positif biru          
                    'rgb(230, 18, 7)', //merah negatif                 
                ],
            borderColor: [
                
                'rgb(61, 145, 204)',
                'rgb(230, 18, 7)'
            ]
        }],
        labels: [
            'Positif',
            'Negatif',
            ]
        };

        Chart.pluginService.register({
            beforeDraw: function (chart) {
                if (chart.config.options.elements.center) {
            var ctx = chart.chart.ctx;
            var centerConfig = chart.config.options.elements.center;
            var fontStyle = centerConfig.fontStyle || 'Arial';
                    var txt = centerConfig.text;
            var color = centerConfig.color || '#000';
            var sidePadding = centerConfig.sidePadding || 20;
            var sidePaddingCalculated = (sidePadding/100) * (chart.innerRadius * 2)
            ctx.font = "30px " + fontStyle;
            var stringWidth = ctx.measureText(txt).width;
            var elementWidth = (chart.innerRadius * 2) - sidePaddingCalculated;
            var widthRatio = elementWidth / stringWidth;
            var newFontSize = Math.floor(30 * widthRatio);
            var elementHeight = (chart.innerRadius * 2);
            var fontSizeToUse = Math.min(newFontSize, elementHeight);
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            var centerX = ((chart.chartArea.left + chart.chartArea.right) / 2);
            var centerY = ((chart.chartArea.top + chart.chartArea.bottom) / 2);
            ctx.font = fontSizeToUse+"px " + fontStyle;
            ctx.fillStyle = color;
            ctx.fillText(txt, centerX, centerY);
                }
            }
        });

        var persentase = (positif / (positif+negatif)) * 100;
        var myDoughnutChart = new Chart(ctx2, {
            type: 'doughnut',
            data: data,
            options: {
                elements: {
                    center: {
                    text: persentase.toFixed(1) + "%" ,
                    color: '#36A2EB', 
                    fontStyle: 'Helvetica', 
                    sidePadding: 15 
                    }
                }
            }
        });
    }
</script>
</body>
</html>